@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body{
    background: url(./assets/bg.png) no-repeat center center fixed;
    background-size: cover;
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.play {
    display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}
h1,h2{
    color: rgb(90, 37, 192);
}